

@font-face {
        font-family: Canterbury;
        src: url(canterbury.regular.ttf);
    }

html{
    background-color:green;
    font-family:"Canterbury", sans-serif;
    
}

body{
    display:grid;
    grid-template-columns: 10% 80% 10%;
    height:100vh;
    width:100vw;
    padding:0;
    margin:0;
}

.leftBar{
    background-color:rgb(126, 94, 8);
    font-size:2rem;
    color: white;
    text-shadow: 1px 1px black;
    display:grid;
    justify-content:center;
}

.leftBar > #title{
    text-decoration:underline;
}

.rightBar{
    background-color:rgb(189, 185, 185);
    grid-area: 1 / 3 / 1 / 3;
    box-shadow: inset 10px 0px 10px 0px gray;
    display:Grid;
    grid-template-columns:repeat(2, 4fr) repeat(3, 3fr) repeat(6, 2fr) repeat(5, 1fr);
}

.barPages{
    box-shadow: inset 10px 0px 10px 00px gray;
}

.mainContent{
    background-color:rgb(219, 214, 214);
    grid-area: 1 / 2 / 1 / 2;
    box-shadow: inset 10px 0px 10px   rgb(73, 54, 1);
}


