
@font-face {
  font-family: Canterbury;
  src: url(canterbury.regular.ttf);
}

html {
  background-color: green;
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.leftBar {
  background-color: rgb(126, 94, 8);
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px black;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 4fr;
}

.leftBar>#title {
  text-decoration: underline;
}

.rightBar {
  background-color: rgb(189, 185, 185);
  grid-area: 1 / 3 / 1 / 3;
  box-shadow: inset 10px 0px 10px 0px gray;
  display: Grid;
  grid-template-columns: repeat(2, 4fr) repeat(3, 3fr) repeat(6, 2fr) repeat(5, 1fr);
}

.barPages {
  box-shadow: inset 10px 0px 10px 00px gray;
}

.mainContent {
  background-color: rgb(219, 214, 214);
  grid-area: 1 / 2 / 1 / 2;
  box-shadow: inset 10px 0px 10px rgb(73, 54, 1);
  padding: 10% 10% 10% 10%;

}

#addBook {
  height: 10%;
  background-color: rgb(14, 83, 20);
  color: rgb(89, 231, 89);
  font-family:sans-serif;
  font-size: 1.5rem;
  border-radius: 15px;
  border-style: 5px 5px 5px 5px solid;
  border-color: rgb(4, 58, 4);
}

.books{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap:5%;
  row-gap:15%;
}

.bookCard {
  padding: 5% 5% 5% 5%;
  display:grid;
  border-style: solid;
  border-color: gray;
  width: 100%;
  height: 100%;
  font-size:2rem;
  align-items:center;
  justify-content:center;
  box-shadow:5px 5px 1px 1px gray;
}

dialog[open]{
  /* position:fixed; */
  /* top: 20%; */
  width:20%;
  height:40%;
  display:grid;
  align-items:center;
  grid-template-columns:90% 10%;
  border-color:gray;
  box-shadow:5px 2px 1px 1px gray;
}

dialog[open]::backdrop {
  background: rgba(126, 123, 123, 0.55)
}

dialog #closeButton{
  width:20px;
  height:20px;
  border-radius:10px;
  grid-column: 2 / 2;

}
dialog > *{
  grid-column: 1 / 2;
}

dialog #yes{
  grid-column: 1 / 1;
}
dialog #no{
  grid-column: 2 / 2;
}